/* Estilo para centralizar os elementos no meio da página */

.background {
    background-color: #172C6B;
}

.container {
    height: 100vh;
  }
  
  .login-box {
    width: 100%;
    max-width: 400px;
  }
  
  .logo {
    max-width: 150px;
  }

  .mb-4 {
    color: #FFFF;
  }
  
  /* Estilo dos ícones dentro das caixas de texto */
  .position-relative .icon {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #ccc;
    pointer-events: none;
  }

  .form-check-label, .mt-3 {
    color: #60C2E0;
  }
  
  /* Estilo adicional para o botão */
  .btn-block {
    width: 100%;
    padding: 10px;
  }

  .btn.btn-primary.btn-block.mt-5 {
    border-radius: 10px;
    background: linear-gradient(90deg, #E1BE3F 14.43%, #DF709A 100%);
  }
  