

<div class="background"> 
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="login-box text-center">
      <!-- Logo -->
      <img src="../assets/logo-make-sun.png" alt="Logo" class="logo mb-4">


      <!-- Texto de acesso -->
      <h5 class="mb-4">Sign in to access your account</h5>
  
      <!-- Caixa de texto para email/username -->
      <div class="form-group position-relative">
        <input type="text" class="form-control" placeholder="Enter your email or username">
        <i class="fas fa-user icon position-absolute"></i> <!-- Ícone de usuário -->
      </div>
  
      <!-- Caixa de texto para senha -->
      <div class="form-group position-relative mt-3">
        <input type="password" class="form-control" placeholder="Enter your password">
        <i class="fas fa-lock icon position-absolute"></i> <!-- Ícone de cadeado -->
      </div>
  
      <!-- Lembrar e Esquecer Senha -->
      <div class="d-flex justify-content-between mt-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="rememberMe">
          <label class="form-check-label" for="rememberMe">Remember me</label>
        </div>
        <a href="#" class="text-decoration-none">Forgot password?</a>
      </div>
  
      <!-- Botão Next -->
      <button class="btn btn-primary btn-block mt-5">Next</button>
  
      <!-- Link para novo cadastro -->
      <p class="mt-3">New member? <a href="#" class="text-decoration-none">Register now</a></p>
    </div>
  </div>

</div>
  